<div>
  <app-user-navbar *ngIf="isUser"></app-user-navbar>
  <app-visitor-navbar *ngIf="isVisitor"></app-visitor-navbar>
  
  <div class="product">
    <mat-card>
      <mat-card-content class="title">{{product?.title}}</mat-card-content>
    </mat-card>
  
    <br>
  
    <div class="cards">
      <div class="imags">
        <app-images [product]="product" [store]="store" [image]="image"></app-images>
      </div>
      <br>
    
      <div class="description">
        <app-description [product]="product"></app-description>
      </div>
      <br>
    
      <div class="numbers">
        <app-info *ngIf="isOwner === true" [product]="product" [store]="store"></app-info>
        <app-buy *ngIf="isOwner === false" [product]="product"></app-buy>
      </div>
  </div>
</div>
