.product {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.cards {
    display: flex;
}

.title {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 400px - 200px);
}

@media (max-width: 990px) {
    .cards {
        display: block;
    }
    .description {
        width: 100%;
    }
    .imags {
        display: flex;
        justify-content: center;
    }
    .numbers {
        display: flex;
        justify-content: center;
    }
}
