<div style="padding-left: 50px;padding-bottom: 20px;">
  <button (click)="backToStore()" mat-fab color="white" aria-label="Example icon button with a delete icon">
    <mat-icon>
      <div style="display: flex;justify-content: center;align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
          <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
      </div>
    </mat-icon>
  </button>
</div>

<div class="container" style="padding-bottom: 20px;">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>MAIN INFO</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content [formGroup]="productInfo">
            <mat-form-field style="width: 100%;">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <br>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>PRICES & STOCK</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content [formGroup]="productInfo">
            <mat-form-field floatLabel="always" width="100%">
                <mat-label>Price</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="price" placeholder="0" min="0" step="0.01">
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field style="padding-left: 20px;">
                <mat-label>Stock</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="stock" placeholder="0" min="0">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <br>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>PUBLISH</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <label id="example-radio-group-label">Visibility: {{visibility}}</label>
            <button mat-button color="primary" class="ms-2" (click)="onEditVisibility()">Edit</button>
            <mat-radio-group
              *ngIf="editVisibility"
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="visibility">
                <br>
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>

            <br>
            <label id="example-radio-group-label">Publish {{selectedDate? selectedDate.toLocaleString() : 'immediately'}}</label>
            <button mat-button color="primary" class="ms-2" (click)="onEditPublishTime()">Edit</button>
            <br>
            <mat-form-field class="example-full-width" *ngIf="editPublishTime">
                <mat-label>Choose a date</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="selectedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="onPublish()">Edit</button>
        </mat-card-content>
    </mat-card>
</div>
