<app-user-navbar></app-user-navbar>

<div style="padding: 30px;">
    <div style="display: flex;" class="container">
        <div style="padding-right: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>MAIN INFO</mat-card-subtitle>
                </mat-card-header>
                <hr>
                <mat-card-content>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Title</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Description</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>

        <div style="padding-left: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>PRICES & STOCK</mat-card-subtitle>
                </mat-card-header>
                <hr>
                <mat-card-content>
                    <mat-form-field floatLabel="always" width="100%">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" min="0">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field style="padding-left: 20px;">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" min="0">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <br>
    <br>

    <div style="display: flex;" class="container">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-subtitle>IMAGES</mat-card-subtitle>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <input 
                    class="cf-sec-one-input" type="file" id="imageInput" 
                    accept="image/png, image/gif, image/jpeg, image/jpg"
                    (change)="onImageSelected($event)" 
                >
            </mat-card-content>
        </mat-card>
    </div>
</div>
