.outside {
    padding-bottom: 20px;
}

.image {
    max-height: 500px;
}

img {
    object-fit: cover;
}

.example-button-container {
    position: absolute;
    padding: 10px;
}

h3, .subtitle {
    text-align: center;
    font-family: monospace;
}

.product {
    padding-bottom: 10px;
    padding-right: 10px;
}
