<div style="padding-left: 50px;">
    <button (click)="followStore()" mat-raised-button color="primary">Subscribe</button>
</div>

<br>

<div style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;display: flex;">
    <div style="margin-left: 20px;" *ngFor="let item of products">
        <mat-card class="example-card" style="height: 430px;width: 250px;">
            <img style="cursor: pointer;" mat-card-image height="200" *ngIf="item" [src]="'http://localhost:8080/api/image/' + item.images![0]" alt="image">
            
            <mat-card-content style="cursor: pointer;">
              <p class="title">
                {{item.title}}
              </p>
              <h3>${{item.price}}</h3>
            </mat-card-content>
            <mat-card-header>
              <div mat-card-avatar [style]="'background-image: url(http://localhost:8080/api/image/' + store?.image + ');'" class="example-header-image"></div>
              <mat-card-title>{{store?.name}}</mat-card-title>
              <mat-card-subtitle>{{store?.subtitle}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
