<app-navbar-user></app-navbar-user>

<div class="container">
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Main info</ng-template>
        <app-main-info (mainInfon)="getMainInfo($event)"></app-main-info>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Prices & Stock">
      <form>
        <app-price-stock (priceStock)="getPrice($event)"></app-price-stock>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Images">
      <form>
        <app-images (images)="getImages($event)"></app-images>
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup" label="Categorization">
      <form>
        <app-categorization (categorization)="getCategorization($event)"></app-categorization>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup" label="Publish">
      <form>
        <app-publish (publish)="publish($event)"></app-publish>
      </form>
    </mat-step>
  </mat-stepper>

  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    You should fill <strong>all</strong> the previous fields
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
