<app-navbar-user></app-navbar-user>

<div style="display: flex;justify-content: center;padding-bottom: 20px;">
    <div>
        <div style="display: flex;">
            <div style="padding-right: 20px;">
                <div routerLink="/digital" class="card">
                    <img src="../../../assets/images/digital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Digital Services</h4>
                    </div>
                </div>
            </div>
            <div style="padding-right: 20px;">
                <div routerLink="/cosmetics" class="card">
                    <img src="../../../assets/images/cosmetics.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Cosmetics and body care</h4>
                    </div>
                </div>
            </div>
            <div>
                <div routerLink="/food" class="card">
                    <img src="../../../assets/images/food.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Food and beverage</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="display: flex;">
            <div style="padding-right: 20px;">
                <div routerLink="/furniture" class="card">
                    <img src="../../../assets/images/furniture.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Furniture and decor</h4>
                    </div>
                </div>
            </div>
            <div style="padding-right: 20px;">
                <div routerLink="/health" class="card">
                    <img src="../../../assets/images/health.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Health and wellness</h4>
                    </div>
                </div>
            </div>
            <div>
                <div routerLink="/household" class="card">
                    <img src="../../../assets/images/household.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Household items</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="display: flex;">
            <div style="padding-right: 20px;">
                <div routerLink="/media" class="card">
                    <img src="../../../assets/images/media.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Media</h4>
                    </div>
                </div>
            </div>
            <div style="padding-right: 20px;">
                <div routerLink="/pet" class="card">
                    <img src="../../../assets/images/pet.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Pet care</h4>
                    </div>
                </div>
            </div>
            <div>
                <div routerLink="/office" class="card">
                    <img src="../../../assets/images/office.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Office equipment</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
