<app-navbar-user></app-navbar-user>

<div class="list">
    <div>
        <div class="line">
            <div class="item">
                <div routerLink="/digital" class="card">
                    <img src="../../../assets/images/digital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Digital Services</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/cosmetics" class="card">
                    <img src="../../../assets/images/cosmetics.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Cosmetics and body care</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/food" class="card">
                    <img src="../../../assets/images/food.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Food and beverage</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="line">
            <div class="item">
                <div routerLink="/furniture" class="card">
                    <img src="../../../assets/images/furniture.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Furniture and decor</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/health" class="card">
                    <img src="../../../assets/images/health.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Health and wellness</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/household" class="card">
                    <img src="../../../assets/images/household.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Household items</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="line">
            <div class="item">
                <div routerLink="/media" class="card">
                    <img src="../../../assets/images/media.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Media</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/pet" class="card">
                    <img src="../../../assets/images/pet.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Pet care</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div routerLink="/office" class="card">
                    <img src="../../../assets/images/office.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-text">Office equipment</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
