<app-navbar-user></app-navbar-user>

<div *ngIf="stores" class="list">
    <div *ngFor="let store of stores" class="product">
        <div class="card" [routerLink]="'/store/' + store.id">
            <img [src]="'https://bazar-server-production.up.railway.app/api/image/' + store.image" class="card-img-top" alt="...">
            <div class="card-body card-body d-flex flex-column align-items-center">
                <h5 class="card-title">{{store.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{store.subtitle}}</h6>
                <button mat-fab extended disabled>
                    <mat-icon>star</mat-icon>
                    Stars {{store.stars?.length}}
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="stores && !stores.length" class="position-absolute top-50 start-50 translate-middle">
    <h2>There is no store rated</h2>
</div>

<div *ngIf="!stores" class="position-absolute top-50 start-50 translate-middle">
    <mat-spinner></mat-spinner>
</div>
