<nav class="navbar navbar-expand-lg bg-body-tertiary  shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-primary" href="#">Bazar</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/new-product">New Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex search" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="searchButton" mat-fab extended color="primary">
              <mat-icon>search</mat-icon>
              Search
            </button>
          </form>

          <a class="navbar-brand" *ngIf="authenticated">
            <img src="./../../../../assets/images/Unknown_person.jpg" style="width:40px;cursor: pointer;" class="rounded-pill ms-3" mat-button [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu">
              <button *ngIf="!user?.store" routerLink="/new-store" mat-menu-item>
                <mat-icon>foundation</mat-icon>
                <span>Create store</span>
              </button>
              <button *ngIf="user?.store" [routerLink]="'/store/' + user?.store?.id" mat-menu-item>
                <mat-icon>storefront</mat-icon>
                <span>My store</span>
              </button>
              <button *ngIf="user?.store" routerLink="/new-product" mat-menu-item>
                <mat-icon>archive</mat-icon>
                <span>New product</span>
              </button>
              <button (click)="onLogOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
              </button>
            </mat-menu>
          </a>
          <a class="navbar-brand" *ngIf="!authenticated">
            <img src="./../../../../assets/images/Unknown_person.jpg" style="width:40px;cursor: pointer;" class="rounded-pill ms-3" mat-button [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu">
              <button routerLink="/auth/login" mat-menu-item>Login</button>
              <button routerLink="/auth/register" mat-menu-item>Register</button>
            </mat-menu>
          </a>
        </div>
    </div>
</nav>
