nav {
    height: 70px;
}

.custom-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-button:disabled {
    opacity: 0.6;
}

.search {
    padding-right: 10px;
}

.searchButton {
    height: 40px;
}
