<div>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>PRICES & STOCK</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content [formGroup]="priceAndStock">
            <mat-form-field floatLabel="always" width="100%">
                <mat-label>Price</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="price" placeholder="0" min="0" step="0.01">
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field style="padding-left: 20px;">
                <mat-label>Stock</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="stock" placeholder="0" min="0">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <br>
    <br>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>CATEGORIZATION</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Choose a category</mat-label>
                <mat-select [(ngModel)]="category">
                    <mat-option [value]="item" *ngFor="let item of categories">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="padding-left: 10px;">
                <mat-label>Brand</mat-label>
                <input matInput type="text" [(ngModel)]="brand">
                <button *ngIf="brand" matSuffix mat-icon-button aria-label="Clear" (click)="brand=''">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Collections</mat-label>
                <mat-select [formControl]="collection" multiple>
                  <mat-select-trigger>
                    {{collection.value?.[0] || ''}}
                    <span *ngIf="(collection.value?.length || 0) > 1" class="example-additional-selection">
                      (+{{(collection.value?.length || 0) - 1}} {{collection.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of collections" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-form-field" style="padding-left: 10px;">
                <mat-label>Keywords</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControl]="formControl" >
                    <mat-chip-row *ngFor="let keyword of keywords" (removed)="removeKeyword(keyword)">
                        {{keyword}}
                        <button matChipRemove aria-label="'remove ' + keyword">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New keyword..."
                        [matChipInputFor]="chipGrid"
                        (matChipInputTokenEnd)="add($event)"/>
            </mat-form-field>  
        </mat-card-content>
    </mat-card>

    <br>
    <br>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>PUBLISH</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <label id="example-radio-group-label">Visibility: {{visibility}}</label>
            <button mat-button color="primary" class="ms-2" (click)="onEditVisibility()">Edit</button>
            <mat-radio-group
              *ngIf="editVisibility"
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="visibility">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>

            <br>
            <label id="example-radio-group-label">Publish {{selectedDate? selectedDate.toLocaleString() : 'immediately'}}</label>
            <button mat-button color="primary" class="ms-2" (click)="onEditPublishTime()">Edit</button>
            <br>
            <mat-form-field class="example-full-width" *ngIf="editPublishTime">
                <mat-label>Choose a date</mat-label>
                <input [matDatepickerFilter]="filter" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="selectedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="onPublish()">Publish</button>
        </mat-card-content>
    </mat-card>
    <br>
    <br>
    <button class="container" mat-raised-button (click)="onBack()">Back</button>
</div>
