<div style="display: flex;">
  <div style="padding-left: 50px;">
    <button (click)="backToMyStore()" mat-fab color="white" aria-label="Example icon button with a delete icon">
      <mat-icon>
        <div style="display: flex;justify-content: center;align-items: center;">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
          </svg>
        </div>
      </mat-icon>
    </button>
  </div>

  <div style="right: 50px;position: absolute;">
      <button *ngIf="!followed" (click)="followStore()" mat-raised-button color="primary">Follow</button>
      <button *ngIf="followed" (click)="unfollowStore()" mat-stroked-button color="primary">Unfollow</button>
  </div>
</div>

<br>

<div style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;display: flex;">
    <div style="margin-left: 20px;" *ngFor="let item of products">
        <mat-card class="example-card" style="height: 430px;width: 250px;">
            <img style="cursor: pointer;" mat-card-image height="200" *ngIf="item" [src]="'http://localhost:8080/api/image/' + item.images![0]" alt="image">
            
            <mat-card-content style="cursor: pointer;">
              <p class="title">
                {{item.title}}
              </p>
              <h3>${{item.price}}</h3>
            </mat-card-content>
            <mat-card-header>
              <div mat-card-avatar [style]="'background-image: url(http://localhost:8080/api/image/' + store?.image + ');'" class="example-header-image"></div>
              <mat-card-title>{{store?.name}}</mat-card-title>
              <mat-card-subtitle>{{store?.subtitle}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
