<div *ngIf="product" class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">{{product.price}}$</h3>
        <br>
        <h4 *ngIf="product.stock" style="color: #007600;">In stock</h4>
        <h4 *ngIf="!product.stock" style="color: #760000;">Not in stock</h4>
        <select class="form-select" aria-label="Default select example">Quantity
            <option selected disabled>Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br>
        <div>
            <button mat-fab extended color="primary" style="width: 100%;">
                <mat-icon>shopping_bag</mat-icon>
                Buy
            </button>
        </div>
        <div style="padding-top: 10px;">
            <button (click)="addToCart()" mat-fab extended color="warn" style="width: 100%;">
                <mat-icon>shopping_cart</mat-icon>
                Add to cart
            </button>
        </div>
    </div>
</div>

<div *ngIf="!product" class="position-absolute top-50 start-50 translate-middle">
    <mat-spinner></mat-spinner>
</div>
