.example-card {
    max-width: 70%;
    border-radius: 10px;
}

.header-icon {
    height: 4rem;
    width: 4rem;
    background-color: #dadcf8;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
}