<app-navbar-user></app-navbar-user>

<div class="card container" *ngIf="response" style="width: 100%;">
    <div class="card-body">
        <div *ngFor="let item of response.product.images; let i = index" class="mb-4 d-flex justify-content-center">
            <div class="example-button-container" *ngIf="selectedImage[i]" (click)="onRemoveImage(i)">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon style="display: flex;justify-content: center;align-items: center;">clear</mat-icon>
                </button>
            </div>
            <label [for]="'customFile' + i" style="cursor: pointer;">
                <img id="selectedImage" [src]="selectedImage[i]"
                alt="example placeholder"
                onerror="this.src='./../../../../../assets/images/placeholder.jpg'"/>
                <input type="file" class="form-control d-none" [id]="'customFile' + i" (change)="onImageSelected($event, i)"/>
            </label>
        </div>
    </div>

    <div [formGroup]="old">
        <div style="display: flex;justify-content: center;">
            <mat-form-field style="padding-right: 10px;">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Price</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="price" placeholder="0" min="0" step="0.01">
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field style="padding-left: 10px;">
                <mat-label>Stock</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="stock" placeholder="0" min="0">
            </mat-form-field>
        </div>
        <mat-form-field style="width: 100%;">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-card-actions style="display: flex;padding-bottom: 20px;">
            <div style="padding-left: 10px;">
                <button mat-stroked-button color="primary" [routerLink]="'/store/' + response.store.id">Cancel</button>
            </div>
            <div style="padding-left: 10px;">
                <button (click)="updateProduct()" mat-raised-button color="primary">Edit</button>
            </div>
        </mat-card-actions>
    </div>
</div>

<div *ngIf="!response" class="position-absolute top-50 start-50 translate-middle">
    <mat-spinner></mat-spinner>
</div>
